<!-- START OF _includes/article.html -->
<article>
	<div class="content">
		{{ content | excerpt }}
		{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
		{% if excerpted == 'true' %} <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a> {% endif %}
	</div>
	<footer>
		{% unless page.sharing == false %}
        	{% include post/sharing.html %}
      	{% endunless %}
		{% include post/categories.html %}
	
		{% if page.source.url %}via <a href="{{ page.source.url }}">{{ page.source.title }}</a>{% endif %}

		{% include facebook_like.html %}
		{% include twitter_sharing.html %}
		{% include disqus.html %}
	</footer>
	
</article>
<!-- END OF _includes/article.html -->
