<footer>
	<a href="https://twitter.com/vladfr" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @vladfr</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</footer>

<script>
$(window).scroll(function(){
  if ($(this).scrollTop() > 0){
  	$('.hero-image').css('top', -($(this).scrollTop() / 2) + 'px');
  	var alpha = 0.4 + $(this).scrollTop() / 150
  	$('.wrap').css('box-shadow', '0px -40px 182px -19px rgba(0,0,0,'+alpha.toPrecision(2)+')');

    var opacity = 1 - ($(this).scrollTop() / 200).toPrecision(2);
    $('.subtitle').css('opacity', opacity);
  }
  else {
    $('.subtitle').css('opacity', 1);
  	$('.hero-image').css('top', 0);
  	$('.wrap').css('box-shadow', '0px -40px 182px -19px rgba(0,0,0,0.3)')
  }
});
</script>